/* Thin scrollbars */
/* Chrome, Edge, Safari */
::-webkit-scrollbar { width: 3px; height: 3px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background-color: #666; border-radius: 1px; }

/* Firefox */
* { scrollbar-width: thin; scrollbar-color: #666 transparent; }
